.flag {
    border-color:  #00838F;
    border-style: solid;
    background-color:  #00838F;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 99.7%;
    height: 30%;
    z-index: 3;
    text-align: center;
  }
.center {
    border-color:white;
    border-style: solid;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 120px;
    width: 99.7%;
    height: 59%;
    z-index: 3;
  }
.footer {
    border-color: rgb(17, 133, 142);
    border-style: solid;
    background-color: rgb(17, 133, 142);
    position: absolute;
    left: 0px;
    top: 483px;
    width: 99.7%;
    height: 20%;
    z-index: 2;
    text-align: center;
  }
  
.left {
    border-color:#EFEFEF;
    border-style: solid;
    background-color: #EFEFEF;
    position: absolute;
    left: 0px;
    width: 70%;
    height: 150px;
    z-index: 3;
  }
.lefft{
    border-color:#EFEFEF;
    border-style: solid;
    background-color: #EFEFEF;
    position: absolute;
    left: 0px;
    top:150px;
    width: 70%;
    height: 207px;
    z-index: 3;
  }
.right {
    text-align: center;
    border-color:  #4FB3BF;
    border-style: solid;
    background-color:  #4FB3BF;
    position: absolute;
    left: 699.5px;
    top:-3px;
    width: 45%;
    height: 360px;
    z-index: 6;
  }
.center .right img{
    width:400px;
    box-shadow: 10px 10px 7px 0px dimgray;

    
}
.pobiez_kwerendy {
    font-size: 24px;
    font-family: "Myriad Pro";
    top: 10px;
}
  
.flag p {
    font-size: 60px;
    font-family: "Myriad Pro";
    color: rgb(229, 226, 226);
    font-weight: bold;
    line-height: 0.033;
  }
.footer p{
    font-size: 30px;
    font-family: "Myriad Pro";
    color: rgb(229, 226, 226);
    font-weight: bold;
    line-height: 0.033;
}
.left p{
        font-size: 28px;
        font-family: "Myriad Pro";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 0.042;
}
.lefft p{
    font-size: 28px;
    font-family: "Myriad Pro";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 0.042;
}